*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 15px 50px;
}
#logo{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#searchBar{
    background-color: rgb(233, 233, 233);
    height: 75px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#search{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
#search p{
    text-align: center;
}
#buttons{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#links{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
}
#one{
    display: inline-block;
    background-color: rgb(126, 229, 218);
    width: 500px;
    height: 100px;
    text-align: center;
    padding-top:20px;
}
#two{
    display: inline-block;
    background-color: rgb(112, 204, 194);
    width: 200px;
    height: 100px;
    text-align: center;
}
#three{
    display: inline-block;
    background-color:rgb(98, 179, 170);
    width: 500px;
    height: 100px;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 10px;
}